.commentContainer {
    margin-bottom: 2vh;
    padding: 2vh;
    border: 1px solid #ccc;
    border-radius: 1.5vh;
    background-color: #f9f9f9;
}

.indent0 {
    margin-left: 0%;
}

.indent1 {
    margin-left: 3%;
}

.indent2 {
    margin-left: 6%;
}

.indent3 {
    margin-left: 9%;
}
