.commentSection {
    margin-top: 3vh;
    padding-top: 2vh;
    border-top: 0.1vh solid #ccc;
    font-family: sans-serif;
}

.commentForm {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

.commentInputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.1vh solid #ccc;
    border-radius: 5vh;
    background: white;
    box-shadow: 0 0.3vh 0.7vh rgba(0, 0, 0, 0.1);
    padding: 1vh 2%;
    max-width: 90%;
    width: 100%;
    gap: 2%;
}

.textarea {
    flex-grow: 1;
    min-width: 0;
    font-size: 0.95em;
}

.sendBtn {
    background-color: #d22b2b;
    color: white;
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
}

.sendBtn:hover {
    background-color: #a3261e;
}